/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/03/2022, 07:29:24 AM
    Author     : Jonathan Alejandro Sánchez Alcántara
*/

/*
TIPOS DE ESTILOS
1.- ESTILO DE OBJETOS HTML */
body{
        font-family: arial,verdana;
}	

/* 2.- ESTILO DE APLICACION DIRECTA */
#colorEspecial{
        color: red;
}

/*
3.- CLASES DE ESTILO
*/
/* ----------------------------------- */
.fontTitulo{
	font-family:arial,verdana,tahoma;
	font-size:25px;
	font-weight:bold;
	color:white;
}
.fontVinculo{
	font-family:arial,verdana,tahoma;
	font-size:15px;
	font-weight:normal;
	color:#000080;
	text-decoration:none;
}
.fontEtiqueta{
	font-family:arial,verdana,tahoma;
	font-size:10px;
	font-weight:normal;
	color:white;
}
.fontTrabajoTitulo{
	font-family:arial,verdana,tahoma;
	font-size:15px;
	font-weight: bold;
	color:#000080;
}
.fontTrabajoEtiquetas{
	font-family:arial,verdana,tahoma;
	font-size:12px;
	font-weight:normal;
	color:#000080;
}
.redondeo{
	border-radius:15px;
}
.sombreado{
	box-shadow: 15px 15px 10px 5px blue;
}
.imgPromocion{
	width:140px;
	height:90px	
}
.imgRedes{
	width:30px;
	height:30px	
}
/* -------------------------- */
.botonDecoracion{    
  background: #A58EB0;  
  height:35px;
  width:130px;
  font-family: sans-serif;
  font-size:16px;
  color:#4A235A;
  text-decoration:none; /* SE QUITÓ CUALQUIER ESTILO DEFAULT*/
  border:none;
  border-radius:4px; 
}
.textDecoracion{      
  font-family: sans-serif;
  font-size:16px;
  text-decoration:none;  
  border-radius:5px;
  background: #A58EB0;
  color:#4A235A;
}
